
<div class="wrapper">
<h1>Sign In Here</h1>


<%= form_tag "/sessions/create" do %>
  <div class="field">
    <%= label_tag 'Trail Name' %> <%= text_field_tag :trail_name %>
  </div>
  <div class="field">
    <%= label_tag :password %> <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Log Me In" %>
<% end %>
</div>
