
<div class="wrapper">
<h1>Sign In Here</h1>


<%= form_tag "/sessions/create" do %>
  <%= label_tag :email %><%= text_field_tag :email %><br>
  <%= label_tag :password %><%= password_field_tag :password %><br>
  <%= submit_tag "Log Me In" %>
<% end %>
</div>
