<div class="span3">
  <div class="well sidebar-nav">
  <h3>Recent Adventures</h3>
      <ul class="nav nav-list">
        <li class="nav-header"><%= @person.email %></li>
        <%= link_to "New Adventure", new_adventure_url %>
        <% @person.family.adventures.each do |adventure| %>
        <li><%= link_to adventure.name, adventure %></li>
        <% end %>
      </ul>
  </div><!--/.well -->
  <div class="well sidebar-nav">
  <h3>Path to Outdoor Enlightenment</h3>
  <h4>recent adventures</h4>
    <ul class="nav nav-list">
      <%= link_to "New Adventure", new_adventure_url %>
      <% @person.family.adventures.each do |adventure| %>
      <li><%= link_to adventure.name, adventure %></li>
      <% end %>
    </ul>
  </div><!--/.well -->
</div>
<div class="wrapper">
      <ul class="nav nav-list">
        <li><b>Progress towards enlightenment</li>
       <% if @adventures !=nil %>
         <% @adventures.each do |adventure| %>
           <li><%= adventure.activity.name %></li>
           <% end %>
       <% else %>
       <% end  %>










      </ul>
</div>
<div class="wrapper">
<%= link_to 'Edit', edit_person_path(@person) %> <%= link_to 'Back', people_path %>
<p id="notice"><%= notice %></p>

<p>
  <b>Email: <%= @person.email %></b>
</p>

<p>
  <b>Trail name: <%= @person.trail_name %></b>
</p>

<p>
  <b>Tribe: <%= @person.family.tribe_name %></b>
</p>

<p>
  <b>Age: <%= @person.age %></b>
</p>

  <h1>UPCOMING ADVENTURES</h1>
  <div class="find-adventures">
    <form action="#">
        <input type="text" class="search-query span5" placeholder="search for an adventure" name="keyword">
    </form>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="blog">
    <h1>BLOG POSTS</h1>
    <%= link_to 'Create Blog Post', new_personal_blog_url %>
    <% @person.personal_blogs.each do |b| %>
    <li><%= link_to b.blog, b %></li>
    <% end %>
  </div>
  <div class="review">
    <h1>REVIEWS</h1>
    <%= link_to 'Create Review', new_review_url %>
    <% @person.reviews.each do |rev| %>
    <li><%= link_to rev.good, rev %></li>
    <% end %>
  </div>
</div>
</div>
