<h1>Listing enlightenments</h1>

<table>
  <tr>
    <th>Adventure</th>
    <th>Goal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enlightenments.each do |enlightenment| %>
  <tr>
    <td><%= enlightenment.adventure_id %></td>
    <td><%= enlightenment.goal_id %></td>
    <td><%= link_to 'Show', enlightenment %></td>
    <td><%= link_to 'Edit', edit_enlightenment_path(enlightenment) %></td>
    <td><%= link_to 'Destroy', enlightenment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Enlightenment', new_enlightenment_path %>
