<p id="notice"><%= notice %></p>
<h2><%= @family.tribe_name %> Tribe</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Trail Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
      <th>&nbsp;</th>

    </tr>
  </thead>
  <tbody>
    <% @family_members.each do |member| %>
      <tr>
        <td><%= link_to member.trail_name, member %></td>
        <td><%= member.gender %></td>
        <td><%= member.age %></td>
        <td><%= member.email %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Add members to your family</h4>
<div class='well'>
  <button type="button" class="btn btn-block btn-success" data-toggle="collapse" data-target="#demo">
    Add a Family Member to this Family
  </button>
 </div>



<div id="demo" class="collapse">
  <div class = "add-family-member">
  <%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>
    <%= f.hidden_field :family_id %>
    <div class="field">
      <%= f.input :trail_name, :label => "Enter your Unique Trail Name" %>
    </div>
    <div class = "field">
      <%= f.input :age, :label => "Enter your Age" %>
    </div>
    <div class = "field">
      <%= f.input :gender, collection: [ "Male", "Female"], :label => "Male or Female?" %>
    </div>
    <div class="field">
      <%= f.input :email, :label => "email:" %>
    </div>
    <div class="field">
      <%= f.input :password, :label => "password:" %>
    </div>
    <div class="field">
      <%= f.input :password_confirmation, :label => "password confirmation:" %>
    </div>
    <div class="actions">
      <%= f.button :submit %>
    </div>

  <% end %>

</div>
</div>
