<h1>Listing person_avatars</h1>

<table>
  <tr>
    <th>Avatar</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @person_avatars.each do |person_avatar| %>
  <tr>
    <td><%= person_avatar.avatar_id %></td>
    <td><%= person_avatar.person_id %></td>
    <td><%= link_to 'Show', person_avatar %></td>
    <td><%= link_to 'Edit', edit_person_avatar_path(person_avatar) %></td>
    <td><%= link_to 'Destroy', person_avatar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person avatar', new_person_avatar_path %>
