<div class="wrapper">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @adventure.name %>
</p>

<p>
  <b>Activity:</b>
  <%= @adventure.activity.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @adventure.activity.cost %>
</p>

<p>
  <b>Location:</b>
  <p><%= @adventure.activity.address %></p>
  <p><%= @adventure.activity.city %>, <%= @adventure.activity.state %> <%= @adventure.activity.zipcode %></p>

<p>
  <b>Family:</b>
  <%#= @adventure.person.family.tribe_name %>
</p>

<p>
  <h3>Personal Reviews:</h3>
  <% @reviews.each do |review| %>
  <br><b>Name:</b> <%= review.person.trail_name %>
  <br><b>GOOD:</b> <%= review.good %>
  <br><b>BAD:</b> <%= review.bad %>
  <br>
  <% end %>
</p>

<p>
  <h3>Family Reviews:</h3>

  <% @reviews.each do |review| %>
  <br><b>Name:</b> <%= review.person.trail_name %>
  <br><b>GOOD:</b> <%= review.good %>
  <br><b>BAD:</b> <%= review.bad %>
  <br>
  <% end %>
</p>




<p>
  <b>Tips:</b>
  <%= @adventure.tips %>
</p>


<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
</div>
