<%= form_for(@personal_blog) do |f| %>
  <% if @personal_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_blog.errors.count, "error") %> prohibited this personal_blog from being saved:</h2>

      <ul>
      <% @personal_blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :person_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :blog %>
    <%= f.text_area :blog %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
