<h1>Listing personal_blogs</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Blog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personal_blogs.each do |personal_blog| %>
  <tr>
    <td><%= personal_blog.person_id %></td>
    <td><%= personal_blog.blog %></td>
    <td><%= link_to 'Show', personal_blog %></td>
    <td><%= link_to 'Edit', edit_personal_blog_path(personal_blog) %></td>
    <td><%= link_to 'Destroy', personal_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personal blog', new_personal_blog_path %>
