<%= form_for(@person_award) do |f| %>
  <% if @person_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person_award.errors.count, "error") %> prohibited this person_award from being saved:</h2>

      <ul>
      <% @person_award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :award_id %><br />
    <%= f.number_field :award_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
