<h1>Listing sashes</h1>

<table>
  <tr>
    <th>Award</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sashes.each do |sash| %>
  <tr>
    <td><%= sash.award_id %></td>
    <td><%= sash.person_id %></td>
    <td><%= link_to 'Show', sash %></td>
    <td><%= link_to 'Edit', edit_sash_path(sash) %></td>
    <td><%= link_to 'Destroy', sash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sash', new_sash_path %>
