<!DOCTYPE html>
<html>
<head>
  <title>Wonderdayz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav>
    <%= link_to 'Adventures', adventures_url %>
    <%= link_to 'Family', families_url %>
    <%= link_to 'Person', people_url %>
    <%= link_to 'Enlightenment', enlightenments_url %>




</nav>
<%= yield %>

</body>
</html>
